@use '../utils/' as *;


// Placeholder: General display for content
%general-display {
    display: flex;
    align-items: center;

    width: 100%;

    
    :last-child {
        margin-bottom: 0;
    }

    
    @include mq(medium) {
        width: 70%;
    }
}


// General layout
.ly-{
    &viewport {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;
        min-height: 100vh;
        height: -webkit-fill-available;
        padding: 1rem;
        padding-top: $navBar-height;
        overflow: hidden;


        @include mq(large) {
            padding-top: 0;
            padding-bottom: 0;
        }


    }

    
    &contentStart {
        justify-content: flex-start;
    }


    &gap {
        margin-bottom: 10vh;

        @include mq(xlarge) {
            margin-bottom: 30vh;
        }
    }


    &blockFlow {
        @extend %general-display;
        flex-flow: column;
    }


    &inlineFlow {
        @extend %general-display;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
}