@use '../utils/' as *;


.tapBar {
    position: fixed;
    bottom: 0;
    @include z-index(outerspace);

    width: 100%;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid blue;

    color:aquamarine;
}