@use '../utils/' as *;


.description {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;

    
    @include mq(medium) {
        width: 70%;
    }

    :last-child {
        margin-bottom: 0;
    }
    



    &__text {
        width: 100%;
        margin-bottom: 1.5rem;


        :last-child {
            margin-bottom: 0;
        }
        

        :nth-child(n):not(li) {
            @include font-size(standar);
            color: color(secondary, neutral);
        }
        

        @include mq(medium) {
            width: 50%;
        }
           

        p {
            margin-bottom: 1.5rem;
        }


        ul {
            column-count: 2;
        }


        li {
            padding: 0;
            margin-bottom: 0.1rem;
            list-style-position: inside;
            list-style: none;
            @include font-size(small);

    
            &:before {
                content: "\25b8";  /*CSS Code/unicode for a bullet*/
                @include font-size(small);
                color: color(primary, neutral); 
                // font-weight: bold; 
                display: inline-block; 
                // width: 1rem;
                margin-right: 0.5rem;
            }
        }

    }


    &__picture {
        width: 300px;
        height: 300px;


        img {
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }

    }

    &__tagCloud {
        width: 400px;
        height: 400px;
        margin: 1rem auto;
        // overflow: hidden;

        // outline: 1px solid #d6922b;

        /* styles for the 3D tagcloud */
        & .tagcloud--item {
            color: #8892b0;
        }

        & .tagcloud--item:hover {
            color: #64FFDA;
        }

        @include mq(large) {
            margin: 0;
        }
    }
    
}

