    @use '../utils/' as *;

    .footer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        min-height: 12vh;
        height: auto;


        p {
            @include font-size(small);
            color: color(secondary, neutral);

            a {
                color: color(primary, neutral);
            }


            span {
                color: color(primary, neutral);
            }
        }


    }