@use '../utils/' as *;


.projects {
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 100%;


    :last-child {
        margin-bottom: 0;
    }


    @include mq(medium) {
        width: 70%;
    }
    
}