@use '../utils/' as *;

.scroll-down-indicator {
    position: absolute;
    top: 80%;
    left: 55%;
    @include z-index(orbit);

    transform: translate(-25%, -50%);

    @include mq(large) {
        top: 75%;
    }


    &__text {
        display: block;
        color: color(primary, neutral);

        @include font-size(small);

        transform: translate(-50%, 60px);
        
        animation-delay: -0.4s;
        animation: pulse 2s infinite both;
    }


    &__arrow {
        span {
            display: block;
    
            width: 20px;
            aspect-ratio: 1/1;
            margin: -10px;
            border-bottom: 1px solid color(primary, neutral);
            border-right: 1px solid color(primary, neutral);
    
            transform: rotate(45deg);
            animation: falling 2s infinite;
    
            &:nth-child(2) {
                animation-delay: -0.2s;
            }
    
            &:nth-child(3) {
                animation-delay: -0.4s;
            }
        }
    }

}

@keyframes falling {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


@keyframes pulse {
    0% {
        opacity: 0;
        transform: translate(-50%, 50px);
      }
      50% {
        opacity: 1;
        transform: translate(-50%, 60px) scale(1.05);
      }
      100% {
        opacity: 0;
        transform: translate(-50%, 50px);
      }
}

