@use '../utils/' as *;

.smallCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 1.5rem;
    border-radius: 1%;
    padding: 1rem;

    background-color: color(dark, neutral);

    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);


    &:hover {
        animation: slideUp 0.3s ease-out forwards;
    }


    @include mq(intermediate) {
        width: 45%;
    }


    @include mq (xlarge) {
        width: 30%;
        margin: 0;
        padding: 1.5rem;
    }


    &__title {
        font-family: $serif;
        font-weight: bold;
        @include font-size(intermediate);
        color: color(primary, dark);
    }


    &__details {
        line-height: 1.4;
        color: color(secondary, neutral);
    }


    &__skills {
        margin-top: 1rem;

        li {
            margin-right: 0.5rem;
            color: color(primary, dark);


            @include mq (xlarge) {
                margin-right: 1rem;
                @include font-size(small);
            }
        }
    }


    &__skills,
    &__links {
        display: flex;

        &__repository {
            display: inline-block;
            width: 100%;
            padding: 0.5rem;

            transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

            &:hover svg {
                animation: fill 0.3s ease-out forwards;
            }

            svg {
                position: relative;
                @include z-index(sky);
                width: 24px;
                fill: #a8b2d1;
                stroke-linecap: round;
                stroke-linejoin: round;
            }
        }
    }

}


@keyframes slideUp {
    to {
        transform: translateY(-0.3rem);
    }
}


@keyframes fill {
    to {
        fill: color(primary, neutral);
    }
}