@use '../utils/' as *;


:root {
    // Make custom variables for scheme colors from color map
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }

}


* {
    font-size: 1rem;
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


html,
html:focus-within {
    scroll-behavior: smooth;
}


body {
    line-height: 1.5;
    min-height: 100vh;
}


body {
    background-color: color(dark, dark);
    overflow-x: hidden;
}


h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $serif;
    line-height: 1.1;
}


h2 {
    margin: 3rem 0;

    text-align: center;
    @include font-size(medium);
    color: color(primary, dark);
    

    @include mq(large) {
        margin: 6rem auto;
    }
}


p, 
a, 
ul, 
ol, 
li {
    font-family: $sans;
    line-height: 1.3;
}


a {
    text-decoration-line: none;
}


a:visited {
    text-decoration: none;
    color: color(secondary, neutral);
}


ul, 
ol {
  list-style: none;
}


li {
    line-height: 1.5;
}


img,
picture {
    max-width: 100%;
    display: block;
}


input,
button,
textarea,
select {
    font: inherit;
}