@use '../utils/' as *;

:root {
    // Make custom variables for scheme colors from color map
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }

}


html:focus-within {
    scroll-behavior: smooth;
}


body {
    background-color: color(dark, dark);
    overflow-x: hidden;
}